{#
/**
 * @file
 * Component for an main navigation.
 *
 * Variables:
 * - attributes
 * - side_nav_style: [string]
 * - parent_link: [array]
 *   - title: [string]
 *   - url: [string]
 * - item: [array] The inpage navigation items. Each item is an object containing:
 *   - text: [string] Text of the item.
 *   - url: [string] URL of the item.
 *   - in_active_trail: [boolean] is item part of active trail.
 */
#}

{% import _self as menus %}

{# Prepare side nav attributes. #}
{% set side_nav_attributes = create_attribute() %}

{# Add side nav classes. #}
{%
  set side_nav_classes = [
    'au-side-nav',
    'au-accordion',
    side_nav_style ? side_nav_style,
  ]
%}

<aside {{ side_nav_attributes.addClass(side_nav_classes) }} aria-label="side navigation">
  <button
    class="au-side-nav__toggle au-accordion__title au-accordion--closed"
    aria-controls="nav-default"
    aria-expanded="false"
    onclick="return AU.accordion.Toggle( this )"
  >
    In this section
  </button>
  <div id="nav-default" class="au-side-nav__content au-accordion--closed au-accordion__body">
    {% if parent_link %}
      <h2 class="au-sidenav__title">
        {{ link(parent_link.title, parent_link.url) }}
      </h2>
    {% endif %}
    {{ menus.menu_links(items, attributes) }}
  </div>
</aside>

{% macro menu_links(items, attributes) %}
  {% import _self as menus %}
  {% if items %}
    <ul class="au-link-list">
      {% for item in items %}
      {%
        set classes = [
          item.in_active_trail ? 'active',
        ]
      %}
      <li{{ item.attributes.addClass(classes) }}>
        {% if item.is_active %}
          <span>{{ item.title }}</span>
        {% else %}
          {{ link(item.title, item.url) }}
        {% endif %}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
